<div class="container">
  <div class="row">
    <div
      class="col-md-4 ml-2 mt-2"
      *ngFor="let pokemon of pokemons; let idx = index"
    >
      <div class="card-container">
        <div class="card">
          <div
            class="front"
            [ngStyle]="{
              'background-color': getColors(pokemon.types[0]?.type.name)
            }"
          >
            <div class="content">
              <div class="main">
                <img
                  class="mx-auto d-block"
                  alt="{{ pokemon.id }}"
                  src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{
                    getImagePokemon(idx) + pokemon.id
                  }}.png"
                />
                <h3 class="name">
                  <strong> {{ pokemon.name }} </strong>
                </h3>
              </div>
              <ul
                class="list-group list-group-flush"
                style="border-radius: 15px"
              >
                <li class="list-group-item">
                  <p class="text-center">
                    <strong> #{{ pokemon.id }} </strong>
                  </p>
                </li>
                <li class="list-group-item">
                  <p class="text-center text-uppercase">
                    <strong>
                      {{ pokemon.types[0].type.name }} <br />
                      {{ pokemon.types[1]?.type.name }}
                    </strong>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <!-- back-card -->
          <div
            class="back"
            [ngStyle]="{
              'background-color': getColors(pokemon.types[0]?.type.name)
            }"
          >
            <div class="content">
              <img
                class="mx-auto d-block"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/{{
                  pokemon.id
                }}.png"
                alt="pokemon.id"
              />
            </div>
            <ul
              class="list-group list-group-flush"
              style="border-radius: 15px; margin: 20px"
            >
              <li class="list-group-item">
                <p class="text-center">
                  <strong>
                    {{ pokemon.stats[0].stat.name }}:{{
                      pokemon.stats[0].base_stat
                    }}</strong
                  >
                </p>
              </li>
              <li class="list-group-item">
                <p class="text-center">
                  <strong>
                    {{ pokemon.stats[1].stat.name }}:{{
                      pokemon.stats[1].base_stat
                    }}</strong
                  >
                </p>
              </li>
              <li class="list-group-item">
                <p class="text-center">
                  <strong>
                    {{ pokemon.stats[2].stat.name }}:{{
                      pokemon.stats[2].base_stat
                    }}
                  </strong>
                </p>
              </li>
              <li class="list-group-item">
                <p class="text-center">
                  <strong>
                    {{ pokemon.stats[5].stat.name }}:{{
                      pokemon.stats[5].base_stat
                    }}
                  </strong>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
