@font-face {
    font-family: pokemon-Hollow;
    src: url(assets/fonts/pokemon-Hollow.ttf);
}

@font-face {
    font-family: pokemon-Solid;
    src: url(assets/fonts/pokemon-Solid.ttf);
}

body {
    font-family: 'Courier New', Courier, monospace;
    
}

header {
    padding: 20px 0px;
    text-align: center; 
    background-color: RGB(59, 92, 167); /*blue*/
    margin-bottom: 6px;
}

header h1{
    font-family: pokemon-Solid;
    text-transform: uppercase;    
    color: RGB(255, 203, 3); /*yellow*/
    letter-spacing: 8px;
}

footer {
    font-family: pokemon-Solid;
}
