@font-face {
    font-family: pokemon-Hollow;
    src: url(assets/fonts/pokemon-Hollow.ttf);
}

@font-face {
    font-family: pokemon-Solid;
    src: url(assets/fonts/pokemon-Solid.ttf);
}


body {
    font-family: pokemon-Solid;
}